<title>Update Price</title>
<section class="update-price">
    <h1 class="text-center">Update Price</h1>
    <div class="price-form">
        <form action="/admin/update-price" method="post" id="update-price-form">
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" placeholder="Price" name="price" required>
            </div>
            <div class="mb-3">
                <label for="btnName" class="form-label">BTN Name</label>
                <input type="text" class="form-control" placeholder="BTN Name" name="btnName" required> 
            </div>
            <div class="btn-div">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</section>
