<title>STNAME</title>
<section class="spstore-section" style="background-image: url(/sp-store-bg-img/{{store.bgimg}});">
    <div class="container">
        <h1>{{store.name}}</h1>
        <p>{{store.discrimination}}</p>
        <a href="/store/sp/{{store._id}}/#store-plans" type="button" class="btn">Buy Now</a>
    </div>
</section>
<section id="server-info" class="border-bottom">
    <h1 class="text-center mt-3 mb-3">Server Info</h1>
    <div class="container">
        <div class="ip mb-5">
            <p>IP: </p>
            <p>PORT: </p>
        </div>
        <div class="online mb-5">
            <h4>Online: </h4>
        </div>
    </div>
</section>
<section id="store-plans">
    <div>
        <h1>New</h1>
    </div>
</section>