<title>STNAME</title>
<section class="spstore-section" style="background-image: url(/sp-store-bg-img/{{store.bgimg}});">
    <div class="container">
        <h1>{{store.name}}</h1>
        <p>{{store.discrimination}}</p>
        <a  href="" type="button" class="btn">Buy Now</a>
    </div>
</section>