<title>HOME</title>
<section>
    <div class="index-main-img">
        <h1>my name is abijith</h1>
        <p>i am a developer for js , html , css and python </p>
        <button type="button" class="btn btn-outline-info">Get Start</button>

    </div>
</section>