<nav class="navbar navbar-expand-lg navbar-light nav-color">
    <div class="container-fluid">
        <a href="#">
            <h2 class="text-white sphost-title title">Get Mcode</h2>
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/"><i class="bi bi-house-door-fill"></i> HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-card-checklist"></i> DOCUMENTATION
                    </a>
                    <ul class="dropdown-menu dropdown-bg-color" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-white " href="/category"
                                style="border-bottom: 1px solid white;">All Category</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href=""><i class="bi bi-cart"></i> CREATE STORE</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link text-white" href=""><i class="bi bi-person"></i> {{user.fname}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">LOGOUT</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login"><i class="bi bi-person"></i> Log in</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/signup"><i class="bi bi-person"></i> Sign up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>