@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 19);
  color: white;
  font-family: roboto;
}

/* nav bar */
.navbar{
  background-color: rgb(15, 20, 31);
  border-bottom: 1px solid white;
}
.navbar a{
  text-decoration: none;
}

.navbar a h2::first-letter{
  color: red;
  font-size: 50px;
}
.navbar .dropdown-menu{
  background-color: rgb(15, 27, 51);
}
.navbar .dropdown-item:hover{
  background-color: rgb(21, 37, 70);
}
.navbar .navbar-nav .nav-item{
  margin-right: 15px;
}
.navbar .navbar-nav .nav-item:hover{
  background-color: rgb(21, 37, 70);
  border-radius: 10px;
}
.navbar .navbar-nav .download{
  border: 1px solid white;
  border-radius: 6px;
}
.navbar .navbar-nav .download:hover{
  background-color: rgb(21, 37, 70);
  border-radius: 6px;
  color: aqua;
}
.navbar .navbar-nav .authbtn{
  background-color: rgb(21, 37, 70);
  border-radius: 8px;
}
/* home page  */
.index-main-img{
  width: 100%;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/index-page-bg.png');
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
.index-main-img .btn{
  background-color: transparent;
  color: aqua;
  border: 1px solid aqua;
  width: 200px;
}
.index-main-img .btn:hover{
  background-color: aqua;
  border: 1px solid black;
  color: black;
}