<title>Create Store | form</title>
<section class="store-section">
    <h1 class="text-center">Create Store</h1>
    <div class="store-form">
        <form action="/payment-form" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Store Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Store Name"
                    name="name" required/>
            </div>

            <select class="mb-3" name="duration" id="duration">
                <option value="28">1 month</option>
            </select>
            <div class="btn-div">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</section>