<title>Create Store | form</title>
<section class="store-section">
    <h1 class="text-center">Create Store</h1>
    <div class="store-form">
        <form action="">
            <div class="mb-3">
                <label for="name" class="form-label">Store Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Store Name" name="name">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="title" name="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
            </div>
            <div class="btn-div">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</section>